@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@theme {
  --color-brand-emerald: #065f46;
  --color-brand-orange: #ea580c;
}

:root {
  --bg-gradient: radial-gradient(circle at 50% 50%, #f5f5f4 0%, #e7e5e4 100%);
}

.dark {
  --bg-gradient: radial-gradient(circle at 50% 50%, #1c1917 0%, #0c0a09 100%);
}

body {
  background: var(--bg-gradient);
  background-attachment: fixed;
  min-height: 100vh;
}